.Graph {
    width: 80%;
    height: 83vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 33px;

}

@media screen and (max-width: 1026px) {
    .Graph {
        width: 59vw;
    }
}

@media screen and (max-width: 500px) {
    .Graph {
        width: 95%;
        top: 124px;
        left: 0px;
        position: absolute;
        margin: 10px;
        margin-top: 30px;
        height: 70vh;
    }
}