.Graph {
    width: 80%;
    height: 83vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 33px;
}
.btns {
    display: flex;
}
.btns > button {
    padding: 10px;
    width: 100px;
    color: white;
    background-color: #51C58E;
    border: none;
    border-radius: 10px;
    margin: 0px 30px;
}


@media screen and (max-width: 1026px) {
    .Graph {
        width: 59vw;
    }
}

@media screen and (max-width: 500px) {
    .Graph {
        width: 95%;
        top: 139px;
        left: 0px;
        position: absolute;
        margin: 10px;
        margin-top: 30px;
        height: 65%;
    }
}

@media screen and (max-height: 650px) {
    .Graph {
        height: 64vh;
    }
}

@media screen and (max-height: 700px) {
    .Graph {
        height: 66vh;
    }
}

@media screen and (max-height: 640px) {
    .Graph {
        height: 64vh;
    }
}

@media screen and (max-height: 575px) {
    .Graph {
        height: 59vh;
    }
}