.Search {
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px #a6a6a6,
        -5px -5px 10px #ffffff;
    margin-bottom: 30px;
    height: 75px;
    position: sticky;
    top: 0;

}.Search input {
    outline-width: 0px;
    border: 0.5px solid #000;
    padding: 10px;
    width: 50%;
    max-width: 500px;
    background-color: #FDFAFE;
    border-radius: 20px;

}.Search button {
    padding: 10px;
    background-color: #000;
    border-radius: 20px;
    border: 0.5px solid #000;
    color:#fff;
    margin-left: -63px;
    cursor: pointer;
}.Search h2 {
    position: absolute;
    left: 50px;
}